.timeline {
  margin: 0 auto;
  position: relative;
  width: 90%;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #dee2e6;
  transform: translateX(-50%);
}
.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #212529;
  border-radius: 50%;
  z-index: 1;
}
.timeline-item .col-6 {
  padding: 1rem;
}
